<% is_listing_show = controller_path == 'listings' && action_name == 'show'  %>
<article class="flex gap-2 place-content-start">
  <%= render "listings/icon", listing: listing %>
  <div class="flex-1 flex flex-col gap-1">
    <header>
      <% if is_listing_show %>
        <h2>
          <%= link_to listing.link do %>
            <span class="font-bold text-3xl"><%= listing.title %></span>
            <span class="inline-block ml-1 text-sm opacity-50 hover:underline"><%= listing.link %></span>
          <% end %>
        </h2>
      <% else %>
        <h3>
          <%= link_to listing.title, listing, class: "font-bold text-xl", data: { turbo: false } %>
          <%= link_to listing.link, listing.link, class: "text-sm opacity-50 hover:underline", data: { turbo: false } %>
        </h3>
      <% end %>
      <% if listing.description.present? %>
        <p><%= listing.description %></p>
      <% end %>
    </header>
    <footer class="text-sm opacity-50 space-y-1">
      <div class="flex gap-2">
        <%= render "votes/vote", votable: listing %>
        <p>Posted <%= time_ago_in_words(listing.created_at) %> ago by <%= profile_link_for listing.user %></p>
        <% if listing.user == current_user %>
          <span> • </span>
          <%= link_to "Edit", edit_listing_path(listing), class: "font-medium hover:underline", data: { turbo: false } %></span>
        <% end %>
      </div>
      <% unless is_listing_show %>
        <nav class="flex gap-2">
          <% comments_label = !listing.comments.any? ? "Start the conversation!" : "Discuss " + pluralize(listing.total_comments, 'comment') + "."  %>
          <%= link_to comments_label, listing_path(listing), class: "font-medium hover:underline", data: { turbo: false } %>
        </nav>
      <% end %>
    </footer>
  </div>
</article>
