<% is_listing_show = controller_path == 'listings' && action_name == 'show'  %>

<article class="flex gap-2 place-content-start">
  <%= render "listings/icon", listing: listing %>
  <div class="flex-1 flex flex-col gap-1">
    <header>
      <% if is_listing_show %>
        <h2>
          <%= link_to listing.link do %>
            <span class="font-bold text-3xl"><%= listing.title %></span>
            <span class="inline-block ml-1 text-sm opacity-50 hover:underline"><%= listing.link %></span>
          <% end %>
        </h2>
      <% else %>
        <h3>
          <%= link_to listing.title, listing, class: "font-bold text-xl" %>
          <%= link_to listing.link, listing.link, class: "text-sm opacity-50 hover:underline" %>
        </h3>
      <% end %>
      <% if listing.description.present? %>
        <p><%= listing.description %></p>
      <% end %>
    </header>
    <footer class="flex gap-2 text-sm opacity-50">
      <p>Posted <%= time_ago_in_words(listing.created_at) %> ago</p>
      <% unless is_listing_show %>
        <span>•</span>
        <%= link_to listing.comments.count > 0 ? "#{listing.comments.count} comments" : "Start the conversation!", listing_path(listing), class: "font-medium hover:underline" %>
      <% end %>
      <% if listing.user == current_user %>
        <span>•</span>
        <%= link_to "Edit", edit_listing_path(listing), class: "font-medium hover:underline" %>
      <% end %>
    </footer>
  </div>
</article>
