<% is_listing_show = controller_path == 'listings' && action_name == 'show'  %>
<article class="flex gap-2 place-content-start">
  <%= render "listings/icon", listing: listing %>
  <div class="flex-1 flex flex-col gap-1">
    <header>
      <% if is_listing_show %>
        <h2>
          <%= link_to listing.link do %>
            <span class="font-bold text-3xl"><%= listing.title %></span>
            <span class="inline-block ml-1 text-sm opacity-50 hover:underline"><%= listing.link %></span>
          <% end %>
        </h2>
      <% else %>
        <h3>
          <%= link_to listing.title, listing, class: "font-bold text-xl", data: { turbo: false } %>
          <%= link_to listing.link, listing.link, class: "text-sm opacity-50 hover:underline", data: { turbo: false } %>
        </h3>
      <% end %>
      <% if listing.description.present? %>
        <p><%= listing.description %></p>
      <% end %>
    </header>
    <footer class="flex max-md:flex-col md:gap-2 text-sm opacity-50">
      <%= render "votes/vote", votable: listing %>
      <p>Posted <%= time_ago_in_words(listing.created_at) %> ago by <%= profile_link_for listing.user %></p>
      <% unless is_listing_show %>
        <span class="max-md:hidden">•</span>
        <% comments_label = !listing.comments.any? ? "Start the conversation!" : pluralize(listing.total_comments, 'comment')  %>
        <%= link_to comments_label, listing_path(listing), class: "font-medium hover:underline", data: { turbo: false } %>
      <% end %>
      <% if listing.user == current_user %>
        <span class="max-md:hidden">•</span>
        <%= link_to "Edit", edit_listing_path(listing), class: "font-medium hover:underline", data: { turbo: false } %>
      <% end %>
    </footer>
  </div>
</article>
