<%= form_with model: @listing, local: true do |form| %>
  <div class="field">
    <%= form.label :icon %>
    <%= form.text_field :icon, class: "input" %>
  </div>
  <div class="field">
    <%= form.label :cover %>
    <%= form.text_field :cover, class: "input" %>
  </div>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, required: true, class: "input" %>
  </div>
  <div class="field">
    <%= form.label :link %>
    <%= form.url_field :link, class: "input", required: true %>
  </div>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, class: "textarea" %>
  </div>
  <div class="actions">
    <%= form.submit class: "button is-link" %>
  </div>
<% end %>
