
<% if current_user %>
  <div id="new-listing-form">
    <%= form_with model: @new_listing, local: true do | form | %>
      <%= form.label :link, "List a Product!", class: "font-display tracking-wide text-orange-500" %>
      <%= form.url_field :link, class: "input",
          placeholder: "Paste a link and hit enter...", required: true %>
      <%= form.submit "Add Product", class: "sr-only" %>
    <% end %>
  </div>
<% else %>
  <%= link_to "Sign in to list products!", auth_sign_in_path, class: "font-bold hover:underline" %>
<% end %>

<ol class="flex flex-col gap-8">
  <%= render @listings %>
</ol>
