<%= form_with model: user, local: true do |form| %>
  <div class="grid gap-2 max-w-[40ch] mx-auto">
    <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email, required: true, class: "input", disabled: true %>
    </div>
    <div class="field">
      <%= form.label :handle %>
      <%= form.text_field :handle, required: true, class: "input", disabled: user.persisted? %>
    </div>
    <div class="field">
      <%= form.label :bio %>
      <%= form.text_area :bio, class: "textarea" %>
    </div>
    <div class="actions">
      <%= form.submit user.persisted? ? "Update Settings" : "Create Account", class: "button is-link" %>
    <% if user.errors.any? %>
      <p><%= user.errors.full_messages.to_sentence %></p>
    <% end %>
    </div>
  </div>
<% end %>
