<h2 class="text-3xl">Welcome back!</h2>

<%= turbo_frame_tag "signing_in" do %>
  <%= form_with(model: @session, url: url_for(action: 'new')) do |f| %>
    <% email_field_name = :"passwordless[#{email_field}]" %>
    <%= f.label email_field_name,
        t("passwordless.sessions.new.email.label"),
        for: "passwordless_#{email_field}" %>
    <%= email_field_tag email_field_name,
        params.fetch(email_field_name, nil),
        class: "input",
        required: true,
        autofocus: true,
        placeholder: t("passwordless.sessions.new.email.placeholder") %>
    <%= f.submit t("passwordless.sessions.new.submit"), class: "button mt-2 float-right" %>
  <% end %>
<% end %>