<h2 class="text-3xl">Welcome back!</h2>

<%= turbo_frame_tag "signing_in" do %>
  <%= form_with(model: @session, url: url_for(action: 'new')) do |f| %>
    <% email_field_name = :"passwordless[#{email_field}]" %>
    <%= f.label email_field_name,
        t("passwordless.sessions.new.email.label"),
        for: "passwordless_#{email_field}" %>
    <%= email_field_tag email_field_name,
        params.fetch(email_field_name, nil),
        class: "input",
        required: true,
        autofocus: true,
        placeholder: t("passwordless.sessions.new.email.placeholder") %>
    <%= f.submit t("passwordless.sessions.new.submit"), class: "button mt-2 float-right relative z-10" %>
  <% end %>

  <p class="text-sm mt-1 italic opacity-50">Need an invite? <%= link_to "DM @nickisnoble on Posts", "https://posts.cv/nickisnoble", class: "underline" %> or <%= mail_to "nick@miniware.team", "shoot me an email",
    subject: "Add me to the OSD!",
    body: "Hey Nick, I'd like this to be my email, and my handle to be @______",
    class: "underline" %>!</p>
<% end %>