<%= turbo_frame_tag dom_id(votable, :vote) do %>
  <% user_vote = votable.votes.find_by(user: current_user) if current_user %>
  <% has_voted = !!user_vote.present? %>
  <% total_votes = votable.votes.count %>

  <% vote_display = capture do %>
    <div class="flex items-center leading-none rounded gap-x-1 px-1 py-0.5 hover:bg-black/20 dark:hover:bg-white/20 bg-black/10 dark:bg-white/10">
      <span><%= has_voted ? "✦" : "✧" %></span>
      <span class="truncate"><%= total_votes %></span>
    </div>
  <% end %>

  <div class="vote-button">
    <% if current_user %>
      <% if has_voted %>
        <%= button_to vote_display, vote_path_for(votable, user_vote), class: "w-full", method: :delete, data: { turbo_method: :delete } %>
      <% else %>
        <%= button_to vote_display, vote_path_for(votable), class: "w-full" %>
      <% end %>
    <% else %>
      <%= vote_display %>
    <% end %>
  </div>
<% end %>