<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%# TODO: These should be per page %>
    <% title = "Organic Software Directory" %>
    <% description = "Discover, share, and discuss sustainable software products." %>
    <% url = "https://built.organic" %>

    <title><%= title %></title>

    <meta name="description" content="<%= description %>">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="<%= url %>">
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= title %>">
    <meta property="og:description" content="<%= description %>">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="<%= url.split('//')[1] %>">
    <meta property="twitter:url" content="<%= url %>">
    <meta name="twitter:title" content="<%= title %>">
    <meta name="twitter:description" content="<%= description %>">


    <link rel="manifest" href="/manifest.webmanifest">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>

    <script defer src="https://api.pirsch.io/pirsch-extended.js"
                  id="pirschextendedjs"
                  data-code="2eNmxneIzYj5D44dwNuj8bEkiNbG4seJ"></script>
  </head>
  <body class="font-serif bg-orange-100 dark:bg-orange-950 dark:text-orange-200 flex flex-col min-h-screen">
    <%= render "shared/header" %>
    <main class="w-full max-w-screen-md mx-auto mt-28 px-5 flex flex-col gap-12">
      <%= yield %>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>
