<!DOCTYPE html>
<html>
  <head>
    <title>Organic Software Directory</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>
  <body class="font-serif bg-orange-100 dark:bg-orange-950 dark:text-orange-200">
    <%= render "shared/header" %>
    <main class="max-w-screen-md mx-auto mt-28 px-5 flex flex-col gap-6">
      <%= yield %>
    </main>
  </body>
</html>
